<!-- NAVBAR -->
<div class="bg-primary py-1">
  <nav class="container navbar navbar-dark py-0 px-0">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">ContactApp <span class="text-warning"><i class="far fa-id-badge"></i></span></a>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 bg-light">
      
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-md-9">

      <!-- <app-detail></app-detail>
      <app-list></app-list> -->

      <!-- Le component router-outlet va afficher le bon component selon l'url 
            - Sur '/' <app-list>
            - Sur '/detail'
          
          Vous pouvez vous servir de l'attribut <li routerLink='detail'></li> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>