<!-- NAVBAR -->
<div class="bg-primary py-1">
  <nav class="container navbar navbar-dark py-0 px-0">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">ContactApp <span class="text-warning"><i class="far fa-id-badge"></i></span></a>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-md-9">

      <app-list></app-list>
    </div>
  </div>
</div>